button {
  margin: 10px 0px;
}

#doneList {
  display: none;
}

.done {
  text-decoration: line-through;
  display: none;
}
.clickable {
  cursor: pointer;
  color: crimson;
}

ul {
  list-style: none;
  padding-left: 0;
}
